.breadcrumb{
    margin-top: 20px;
    background-color: #009688;

}

#myUL{
    margin: 40px;
}

.w3-input{
    width: 25%;
    display: inline-block;
    margin: 10px;
}

.w3-inputForm{
    width: 35%;
    display: inline-block;
    margin: 10px;
    padding: 8px;
}

.w3-btn{
    margin-bottom: 5px;
    padding: 9px 16px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
    padding: 9px 16px;
}

.w3-inputUpdate{
    width: 20%;
    display: inline-block;
    padding: 6px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 4px;
}

.form-control{
    margin-bottom: 15px;
    margin-left: 20px;
}

.font-update{
    margin-left: 20px;
}

.font-update-name{
    margin-left: 20px;
    margin-top: 20px;
}

.btn{
    padding: 9px 16px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.button-margin{
    margin-top: 40px;
    margin-bottom: 40px;
}

.alert{
    padding: 6px;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.checkbox-create{
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 40px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pagination-centered {
    text-align: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.pointer-disabled {
    pointer-events: none;
}
