
ul, #myUL {
    list-style-type: none;
}


#myUL {
    margin: 0;
    padding: 0;
}


.myCaret {
    cursor: pointer;
    user-select: none;
}


.myCaret::before {
    content: "\25B6";
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    margin-right: 6px;
}


.myCaret-down::before {
    transform: rotate(90deg);
}


.myNested {
    display: none;
}


.active {
    display: block;
}