<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Companies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
<div th:insert="~{layout :: header}"></div>

<form action="/find-companies" method="POST">
    <input type="text" name="name">
    <input type="submit" value="Найти организацию">
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Название организации</th>
        <th>Название головной организации</th>
        <th>Количество сотрудников</th>
    </tr>
    <tr th:each="company : ${companyList}">
        <td th:utext="${company.id}">..</td>
        <td ><a th:utext="${company.name}" th:href="|/update-company?id=${company.id}|" title="Изменить"></a></td>
        <td th:utext="${company.headCompanyName}">..</td>
        <td th:utext="${company.usersCount}"></td>
    </tr>

</table>

<button onclick="location.href='/add-new-company'">Create</button>
</body>
</html>