<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" th:fragment="header">

    <ol class="breadcrumb">
        <li><a href="/">Сотрудники</a></li>
        <li><a href="/company">Организации</a></li>
        <li><a href="/staff-tree-view">Дерево сотрудников</a></li>
        <li><a href="/companies-tree-view">Дерево организаций</a></li>
    </ol>
</div>



</body>
</html>