<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Companies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
<div th:insert="~{layout :: header}"></div>


<div th:fragment="tree">
    <ul>
        <li th:each="userTree : ${userTreeList}">
            <span th:text="${userTree.user.name}"></span>
            <div th:with=" userTreeList = ${userTree.userTrees}" th:include="this :: tree"></div>
        </li>
    </ul>
</div>

</body>
</html>