<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User Tree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="script.js" defer></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "TreeStyle.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div th:insert="~{layout :: header}"></div>


<div id="myUL" th:fragment="tree">
    <ul>
        <li  th:each="userTree : ${userTreeList}" >
            <span  th:class="${not #lists.isEmpty(userTree.userTrees)} ? myCaret"  th:text="${userTree.user.name}"></span>
            <div class="myNested" th:with=" userTreeList = ${userTree.userTrees}" th:include="this :: tree"></div>
        </li>
    </ul>
</div>

</body>
</html>
