<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Companies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="script.js" defer></script>

</head>
<body>

<div th:insert="~{layout :: header}"></div>

<form action="/update-company" method="POST">

    <span th:if="${logError != null}" class="error" th:text="${logError}"></span>
    <h3>Измените данные</h3>

    <input hidden name="id" th:value="${companyUpdate.id}">
    <label>Name</label>
    <input type="text" name="name" th:value="${companyUpdate.name}">


    <select class="form-control" name="headCompanyId" id="headCompanyId">
        <option value=""></option>
        <option th:each="company : ${companyList}"
                th:value="${company.id}"
                th:text="${company.name}"
                th:selected="${companyUpdate.headCompanyId==company.id}"/>
    </select>
    <input type="submit" value="Update">
</form>

<button th:onclick="'deleteCompany(\'' + ${companyUpdate.id} + '\');'">Delete company</button>
</body>
</html>