<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="script.js" defer></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel = "stylesheet" href = "site.css">
</head>
<body class="w3-light-grey">

<div th:insert="~{layout :: header}"></div>



<form action="/update-user" method="POST">

    <div class="w3-container w3-blue-grey w3-opacity w3-center">
    <h3>Измените данные</h3>
    </div>
    <span th:if="${logError != null}" class="error alert alert-danger" th:text="${logError}"></span>
    <div class="w3-card-4">

    <input hidden id="userUpdateId" name="id" th:value="${userUpdate.id}">
            <div>
               <label class="font-update-name">Имя</label>
            </div>
        <div>
        <input class="w3-inputUpdate w3-border w3-round-large" type="text" name="name" th:value="${userUpdate.name}" th:required="required">
        </div>

        <div>
            <label  class="font-update">Организация</label>
        </div>
        <div>
    <select class="form-control" style="width: 20%" th:onchange ="'getUsersByCompany(this.value, \'' + ${userUpdate.bossId} + '\');'" name="companyId" id="companyId" >
        <option th:each="company : ${companyList}"
                th:value="${company.id}"
                th:text="${company.name}"
                th:selected="${userUpdate.companyId==company.id}"/>
    </select>
        </div>

        <div>
            <label  class="font-update">Руководитель</label>

        </div>

        <div>
    <select class="form-control" style="width: 20%" id="bossId" name="bossId">

    </select>
        </div>

        <div class="button-margin">
        <div class="checkbox">
        <div  class="checkbox-inline">
        <input class="w3-btn w3-green w3-round-large" type="submit" value="Изменить">
        </div>
        <div  class="checkbox-inline">
        <button type="button" class="btn btn-danger" th:onclick="'deleteUser(\'' + ${userUpdate.id} + '\');'">Удалить</button>
        </div>
        </div>
        </div>
    </div>

</form>



</body>
</html>