<!--<%&#45;&#45;-->
  <!--Created by IntelliJ IDEA.-->
  <!--User: Admin-->
  <!--Date: 16.11.2018-->
  <!--Time: 20:02-->
  <!--To change this template use File | Settings | File Templates.-->
<!--&#45;&#45;%>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="script.js" defer></script>
  <script src="jquery-3.3.1.min.js"></script>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"></link>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel = "stylesheet" href = "site.css">

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .pagination-centered {
        text-align: center;
      }
      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      .pointer-disabled {
        pointer-events: none;
      }
    </style>
  </head>
  <body class="w3-light-grey">
  <div th:insert="~{layout :: header}"></div>

<div class = class="checkbox">


<div  class="checkbox-inline">

  <form action="/" method="GET">
    <label>Имя</label>
    <input class="w3-input w3-border w3-round-large" id="search" type="text" name="name"  th:value="${name}">
    <input hidden name="pageSize" th:value="${selectedPageSize}">

    <label>Организация</label>
    <input class="w3-input w3-border w3-round-large" type="text" name="nameByCompany"  th:value="${nameByCompany}">
    <input class="w3-btn w3-green w3-round-large" type="submit" value="Поиск">
  </form>


</div>

  <div class="pull-right checkbox-inline">
    <button class="w3-btn w3-green w3-round-large" onclick="location.href='/add-new-user'">Создать</button>
  </div>
  </div>


  <table>
    <tr>
      <th>ID</th>
      <th>Имя сотрудника</th>
      <th>Организация</th>
      <th>Руководитель</th>
    </tr>

    <tr th:each="user : ${userList}">
      <td th:utext="${user.id}">..</td>
      <td><a th:utext="${user.name}" th:href="|/update-user?id=${user.id}|" title="Изменить"></a></td>
      <td th:utext="${user.companyName}">..</td>
      <td th:utext="${user.bossName}">..</td>
    </tr>

  </table>

  <div class="row">
    <div class="form-group col-md-1">
      <select class="form-control pagination" id="pageSizeSelect">
        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                th:value="${pageSize}"
                th:selected="${pageSize} == ${selectedPageSize}"></option>
      </select>
    </div>
    <div th:if="${totalPages > 1}"
         class="form-group col-md-11 pagination-centered">
      <ul class="pagination">
        <li th:class="${currentPage-1 == 0} ? disabled"><a
                class="pageLink"
                th:href="'/?pageSize=' + ${selectedPageSize} + '&amp;page=1' + ${name != null ? '&amp;name=' + name : ''} + ${nameByCompany != null ? '&amp;nameByCompany=' + nameByCompany : ''}">«</a>
        </li>
        <li th:class="${currentPage-1 == 0} ? disabled"><a
                class="pageLink"
                th:href="'/?pageSize=' + ${selectedPageSize} + '&amp;page=' + ${currentPage-1} + ${name != null ? '&amp;name=' + name : ''} + ${nameByCompany != null ? '&amp;nameByCompany=' + nameByCompany : ''}">←</a>
        </li>
        <li
                th:class="${currentPage-1 == (page - 1)} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(currentPage < 2  ? 1 : currentPage-1 , currentPage+1>totalPages ?  totalPages : currentPage+1)}"
                >
          <a class="pageLink"
             th:href="'/?pageSize=' + ${selectedPageSize} + '&amp;page=' + ${page} + ${name != null ? '&amp;name=' + name : ''} + ${nameByCompany != null ? '&amp;nameByCompany=' + nameByCompany : ''}"
             th:text="${page}"></a>
        </li>
        <li
                th:class="${currentPage == totalPages} ? disabled">
          <a class="pageLink"
             th:href="'/?pageSize=' + ${selectedPageSize} + '&amp;page=' + ${currentPage + 1} + ${name != null ? '&amp;name=' + name : ''} + ${nameByCompany != null ? '&amp;nameByCompany=' + nameByCompany : ''}">→</a>
        </li>
        <li
                th:class="${currentPage == totalPages} ? disabled">
          <a class="pageLink"
             th:href="'/?pageSize=' + ${selectedPageSize} + '&amp;page=' + ${totalPages} + ${name != null ? '&amp;name=' + name : ''} + ${nameByCompany != null ? '&amp;nameByCompany=' + nameByCompany : ''}">»</a>
        </li>
      </ul>
    </div>
  </div>





  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

  </body>
</html>
